.problem-pane {
  border: 1px solid black;
  margin-top: 16px;
  padding: 8px;
  display: flex;
}

.problem-id {
  padding: 2px;
  margin-right: 8px;
  background-color: darkgray;
  color: white;
  font-weight: bold;
}

.problem-image {
  height: 100%;
}

.problem-image-table {
  width: 450px;
  display: flex;
}

.problem-image-table .problem-image {
  height: 50%;
  margin: 4px;
}
